# Data Wrangling
By: **Lwazi Radebe**

We will be working with two datasets to determine how many participants from a population of participants are risky and how many aren't.  
To achieve this we will first ensure the data is reliable and clean it if needs be.

One of our datasets, "personality scores" may need some clarification:

### Understanding Personality Scores:

Scores are saved as tuples  
**The first value of the tuple always indicates the subscale to which the item belongs:**

1 = Extraversion  
2 = Agreeableness  
3 = Conscientiousness  
4 = Emotional Stability/Neuroticism  
5 = Intellect/Imagination / openness to experiences  

**The second value in the tuple indicates the individual's scored response to that question:**  

1=Disagree  
3=Neutral  
5=Agree

**Importing Packages and reading datasets:**

In [1]:
import pandas as pd
import re

In [2]:
scores = pd.read_csv("../Datasets/personality_scores.csv", sep=";")
departments = pd.read_csv("../Datasets/departments.csv", sep=";")

## Getting an idea of Personality scores dataset:

In [3]:
scores.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Cleaning up column names, removing unnecessary information:

In [4]:
for column_name in scores.columns:
    if re.findall("\\[.+\\]", column_name):
        for phrase in re.findall("\\[(.+)\\]", column_name):
            scores = scores.rename(columns={column_name: phrase})

In [5]:
scores["ID"].duplicated().sum()

0

There are no duplicated values according to the "ID" column.

Let's see more information about the dataset, how many columns are there?  
How many null values do they have?  
How many rows are there?

In [6]:
scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1555 entries, 0 to 1554
Data columns (total 70 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   ID                                                       1555 non-null   int64
 1   I am always prepared.                                    1555 non-null   object
 2   I am easily disturbed.                                   1555 non-null   object
 3   I am exacting (demanding) in my work.                    1555 non-null   object
 4   I am full of ideas.                                      1555 non-null   object
 5   I am interested in people.                               1555 non-null   object
 6   I am not interested in abstract ideas.                   1555 non-null   object
 7   I am not interested in other people's problems.          1555 non-null   object
 8   I am not really interested in others.                    1555 non-null   object
 9   I am quick to understand things.                         1555 non-null   object
 10  I am quiet around strangers.                             1555 non-null   object
 11  I am relaxed most of the time.                           1555 non-null   object
 12  I am the life of the party.                              1555 non-null   object
 13  I change my mood a lot.                                  1555 non-null   object
 14  I do not have a good imagination.                        1555 non-null   object
 15  I don't like to draw attention to myself.                1555 non-null   object
 16  I don't mind being the center of attention.              1555 non-null   object
 17  I don't talk a lot.                                      1555 non-null   object
 18  I feel comfortable around people.                        1555 non-null   object
 19  I feel little concern for others.                        1555 non-null   object
 20  I feel others' emotions.                                 1555 non-null   object
 21  I follow a schedule.                                     1555 non-null   object
 22  I get chores done right away.                            1555 non-null   object
 23  I get irritated easily.                                  1555 non-null   object
 24  I get stressed out easily.                               1555 non-null   object
 25  I get upset easily.                                      1555 non-null   object
 26  I have a rich vocabulary.                                1555 non-null   object
 27  I have a soft (kind) heart.                              1555 non-null   object
 28  I have a vivid imagination.                              1555 non-null   object
 29  I have difficulty understanding abstract ideas.          1555 non-null   object
 30  I have excellent ideas.                                  1555 non-null   object
 31  I have frequent mood swings.                             1555 non-null   object
 32  I have little to say.                                    1555 non-null   object
 33  I insult people.                                         1555 non-null   object
 34  I keep in the background.                                1555 non-null   object
 35  I leave my belongings lying around.                      1555 non-null   object
 36  I like order.                                            1555 non-null   object
 37  I make a mess of things.                                 1555 non-null   object
 38  I make people feel at ease.                              1555 non-null   object
 39  I neglect my duties.                                     1555 non-null   object
 40  I often feel blue (down).                                1555 non-null   object
 41  I often forget to put things back in their proper place  1555 non-null   object
 42  I pay attention to details.                              1555 non-null   object
 43  I seldom feel blue (down).                               1555 non-null   object
 44  I spend time reflecting on things.                       1555 non-null   object
 45  I start conversations.                                   1555 non-null   object
 46  I sympathize with others' feelings.                      1555 non-null   object
 47  I take time out for others.                              1555 non-null   object
 48  I talk to a lot of different people at parties.          1555 non-null   object
 49  I use difficult words.                                   1555 non-null   object
 50  I worry about things.                                    1555 non-null   object
 51  Unnamed: 51                                              0 non-null      float64
 52  Unnamed: 52                                              0 non-null      float64
 53  Unnamed: 53                                              0 non-null      float64
 54  Unnamed: 54                                              0 non-null      float64
 55  Unnamed: 55                                              0 non-null      float64
 56  Unnamed: 56                                              0 non-null      float64
 57  Unnamed: 57                                              0 non-null      float64
 58  Unnamed: 58                                              0 non-null      float64
 59  Unnamed: 59                                              0 non-null      float64
 60  Unnamed: 60                                              0 non-null      float64
 61  Unnamed: 61                                              0 non-null      float64
 62  Unnamed: 62                                              0 non-null      float64
 63  Unnamed: 63                                              0 non-null      float64
 64  Unnamed: 64                                              0 non-null      float64
 65  Unnamed: 65                                              0 non-null      float64
 66  Unnamed: 66                                              0 non-null      float64
 67  Unnamed: 67                                              0 non-null      float64
 68  Unnamed: 68                                              0 non-null      float64
 69  IPIP_HIGH_RISK                                           0 non-null      float64
dtypes: float64(19), int64(1), object(50)
memory usage: 850.5+ KB

In [7]:
scores.shape

(1555, 70)

There are **70** columns and **1555** rows.  
Most culumns have 1555 rows of non-null values... meaning 0 null values.  
However, it looks like columns ranging from **51 - 70** all have null values (0 non-null values)  
So those columns are getting dropped.

In [8]:
scores = scores.dropna(axis=1)
scores.columns

Index(['ID', 'I am always prepared.', 'I am easily disturbed.',
       'I am exacting (demanding) in my work.', 'I am full of ideas.',
       'I am interested in people.', 'I am not interested in abstract ideas.',
       'I am not interested in other people's problems.',
       'I am not really interested in others.',
       'I am quick to understand things.', 'I am quiet around strangers.',
       'I am relaxed most of the time.', 'I am the life of the party.',
       'I change my mood a lot.', 'I do not have a good imagination.',
       'I don't like to draw attention to myself.',
       'I don't mind being the center of attention.', 'I don't talk a lot.',
       'I feel comfortable around people.',
       'I feel little concern for others.', 'I feel others' emotions.',
       'I follow a schedule.', 'I get chores done right away.',
       'I get irritated easily.', 'I get stressed out easily.',
       'I get upset easily.', 'I have a rich vocabulary.',
       'I have a soft (kind) heart.', 'I have a vivid imagination.',
       'I have difficulty understanding abstract ideas.',
       'I have excellent ideas.', 'I have frequent mood swings.',
       'I have little to say.', 'I insult people.',
       'I keep in the background.', 'I leave my belongings lying around.',
       'I like order.', 'I make a mess of things.',
       'I make people feel at ease.', 'I neglect my duties.',
       'I often feel blue (down).',
       'I often forget to put things back in their proper place',
       'I pay attention to details.', 'I seldom feel blue (down).',
       'I spend time reflecting on things.', 'I start conversations.',
       'I sympathize with others' feelings.', 'I take time out for others.',
       'I talk to a lot of different people at parties.',
       'I use difficult words.', 'I worry about things.'],
      dtype='object')

**Summing up the scores of each participant in relation to each personality type:**

In [9]:
def total_scores_per_row():

    Extraversion_list = []
    Agreeableness_list = []
    Conscientiousness_list = []
    Neuroticism_list = []
    Imagination_list = []

    row = 0
    while row < 1555:
        Extraversion = 0
        Agreeableness = 0
        Conscientiousness = 0
        Neuroticism = 0
        Imagination = 0

        for tup in scores.iloc[row, :]:
            if isinstance(tup, str):
                if int(tup[1]) == 1:
                    Extraversion += int(tup[4])
                elif int(tup[1])  == 2:
                    Agreeableness += int(tup[4])
                elif int(tup[1])  == 3:
                    Conscientiousness += int(tup[4])
                elif int(tup[1])  == 4:
                    Neuroticism += int(tup[4])
                else:
                    Imagination += int(tup[4])
        row += 1
        Extraversion_list.append(Extraversion)
        Agreeableness_list.append(Agreeableness)
        Conscientiousness_list.append(Conscientiousness)
        Neuroticism_list.append(Neuroticism)
        Imagination_list.append(Imagination)
    return Extraversion_list, Agreeableness_list, Conscientiousness_list, Neuroticism_list, Imagination_list

Now, we make our summed up personality scores' lists part of our dataset. Each personality gets its own column.

In [10]:
lists = total_scores_per_row()
scores["Extraversion"], scores["Agreeableness"], scores["Conscientiousness"], scores["Emotional Stability"], scores["openness to experiences"] = lists

In [11]:
scores.head()

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,I sympathize with others' feelings.,I take time out for others.,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,openness to experiences
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36

## Getting an idea of Departments dataset:

In [12]:
departments.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

In [13]:
departments["Department"].unique()

array(['Data', 'Web Dev', 'Copywriting', 'Design', 'Strategy', 'Web dev'],
      dtype=object)

**Departments** only has *2* columns and *1555* rows.  
5 different types of departments are represented:  
    * Data  
    * Web Dev  
    * Copywriting  
    * Design  
    * Strategy

**Merging both datasets and setting the index to the "ID" column**

In [14]:
department_scores = scores.merge(departments)
department_scores = department_scores.set_index("ID")
department_scores.head()

,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,I am quiet around strangers.,...,I take time out for others.,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,openness to experiences,Department
ID,,,,,,,,,,,,,,,,,,,,,
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42,Data
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42,Data
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42,Data
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38,Data
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36,Data

In [15]:
scores.shape

(1555, 56)

In [16]:
departments.shape

(1555, 2)

As we see from the above cells. Both **Scores** and **Department** have 1555 rows.  
*Scores* has 56 columns  
*Departments* has 2 columns  

We expect to only have one column brought into Scores from Departments. "ID" will not be brought into the new dataframe because it already exists. So the new dataframe should have 1555 rows and 56 columns because now the "ID" column has been set as the index. If that had not been the case, the new dataframe "department_scores" would have 57 columns.

In [17]:
assert department_scores.shape[0] == departments.shape[0], "Not equal"
assert department_scores.shape[1] - departments.shape[1] == 54

In [18]:
department_scores.shape

(1555, 56)

**Getting the index of ricky participants and their departments:**

In [19]:
high_risk = department_scores.loc[(department_scores["Emotional Stability"] < 30) & (department_scores["Conscientiousness"] < 30) & (department_scores["Agreeableness"] < 30)]
high_risk[["Department"]]

       Department
ID
881          Data
1197  Copywriting

In [20]:
risk_list = []
for i in department_scores.index:
    if i  in high_risk.index:
        risk_list.append("high_risk")
    else:
        risk_list.append("low_risk")
department_scores["Risk"] = risk_list
department_scores.iloc[:, -7:].head()

,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,openness to experiences,Department,Risk
ID,,,,,,,
0,30,40,48,36,42,Data,low_risk
1,42,46,46,40,42,Data,low_risk
2,28,40,40,38,42,Data,low_risk
3,30,38,38,40,38,Data,low_risk
4,28,34,46,38,36,Data,low_risk

In [21]:
departments = dict()
for dep in department_scores["Department"]:
    departments[dep] = {"Low risk": department_scores[(department_scores["Department"]==dep) & (department_scores["Risk"] == "low_risk")].count()[0], "High risk":department_scores[(department_scores["Department"]==dep)& (department_scores["Risk"] == "high_risk")].count()[0]}
risk_per_department = pd.DataFrame.from_dict(departments)
Web_devs = risk_per_department["Web dev"] + risk_per_department["Web Dev"]
risk_per_department = risk_per_department.assign(Web_Dev= Web_devs)

Deleting columns for _"Web Dev"_ and _"Web dev"_ from "risk_per_department" dataframe because that's the same department, and it has been summed into one column **"Web_Dev"**

In [22]:
risk_per_department = risk_per_department.drop(labels=["Web dev", "Web Dev"], axis=1)
risk_per_department.rename_axis("Risk", axis=1)

Risk       Data  Copywriting  Design  Strategy  Web_Dev
Low risk    328          325     120       449      331
High risk     1            1       0         0        0

These datasets "personality scores" and "departments" were for individuals from different departments (Data, Web Dev, Design, Copywriting and Strategy).  
The participants were asked a few questions, or rather, given a set of statements that they had to score. Whether they agree, disagree or neutral to the statement, each statement was categorized between 5 different personality types (Extraversion, Agreeableness, Conscientiousness, Emotional Stability/Neuroticism and Intellect/Imagination / openness to experiences).  

Then scores were added together for each row (each individual) to get the final score of the participant according to each personality type. This helps us understand how extraverted, agreeable, conscientious, emotionally stable or open to new experiences each participants is. To find out how risky each participant is we then searched for individuals that scored below **30** for __Conscientiousness, Agreeableness and Emotional stability__.  

2 participants were found to be risky, one works with __Data__ and the other is in __Copywriting__. The other individuals are considered "low risk".